body {
  display: block;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.buttons {
  text-decoration: none;
  background-color: #061f58;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
