doctype html
html
    head
        title="Zadanie 25.6-index"
        link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet")
        link(
            rel="stylesheet" 
            href="index.css"
        )
    body
        h3.title Strona do nauki Express.js. Aby przejść do strony logowania naciśnij przycisk.
        a.btn(href='/auth/google') Przejdź do logowania